body.admin-horizontal_plus {
  padding-top: 20px;
}
.horizontal_plus .flexnav {
  visibility: hidden;
}
.horizontal_plus {
  z-index: 999;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}
.horizontal_plus .item-list {
  display: none;
}
.horizontal_plus {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
.horizontal_plus ul {
  margin: 0;
}
.horizontal_plus ul li, .horizontal_plus li.leaf {
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  list-style: none;
  background: transparent;
}
.horizontal_plus ul li,
.horizontal_plus ul.menu li,
.horizontal_plus ul li,
.horizontal_plus li.leaf {
  margin: 0;
}
.horizontal_plus .flexnav li span.menu-description {
  display: none !important;
}
.horizontal_plus .flexnav {
  *zoom: 1;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.horizontal_plus .flexnav ul {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-style: preserve-3d;  
}
.horizontal_plus .flexnav:after {
  content: "";
  display: table;
  clear: both;
}
.horizontal_plus .flexnav.one-page {
  position: fixed;
  top: 20px;
  right: 5%;
  max-width: 200px;
}
.horizontal_plus .flexnav li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
  line-height: 20px;
  font-size: 12px;
}
.horizontal_plus .flexnav li a,
.horizontal_plus .flexnav li span:not(.touch-button):not(.menu-description) {
  position: relative;
  display: block;
  padding: 0 3px 0 3px;
  z-index: 2;
  overflow: hidden;
  color: #222222;
  background: #a6a6a2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.horizontal_plus .flexnav li ul {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}
.horizontal_plus .flexnav li ul li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
}
.horizontal_plus .flexnav li ul.show li {
  overflow: visible;
}
.horizontal_plus .flexnav li ul li a {
  display: block;
  background: #b2b2af;
}
.horizontal_plus .flexnav ul li ul li a {
  background: #bfbfbc;
}
.horizontal_plus .flexnav ul li ul li ul li a {
  background: #cbcbc9;
}
.horizontal_plus .flexnav .touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center;
}
.horizontal_plus .flexnav .touch-button:hover {
  cursor: pointer;
}
.horizontal_plus .flexnav .touch-button .navicon {
  position: relative;
  top: 0px;
  font-size: 12px;
  color: #666;
}
.horizontal_plus .menu-button {
  position: relative;
  display: block;
  padding: 1em;
  background: #a6a6a2;
  color: #222222;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.horizontal_plus .menu-button.one-page {
  position: fixed;
  top: 0;
  right: 5%;
  padding-right: 45px;
}
.horizontal_plus .menu-button .touch-button {
  background: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}
.horizontal_plus .menu-button .touch-button .navicon {
  font-size: 16px;
  position: relative;
  top: 1em;
  color: #666;
}

@media all and (min-width: 800px) {
  body.one-page {
    padding-top: 70px;
  }
  .horizontal_plus .flexnav {
    overflow: visible;
  }
  .horizontal_plus .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
  }
  .horizontal_plus .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    overflow: visible;
    cursor: pointer;
  }
  .horizontal_plus .flexnav li ul li {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;    
  }
  .horizontal_plus .flexnav li a {
    border-left: 1px solid #acaca1;
  }
  .horizontal_plus .flexnav li > ul {
    position: absolute;
    top: auto;
    left: 0;
    opacity: 0;
    z-index: -1;
    display: block;
  }
  .horizontal_plus .flexnav li > ul li {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    width: 100%;
    overflow: hidden;
    max-height: 0;
  }
  .horizontal_plus .flexnav li:hover > ul,
  .horizontal_plus .flexnav li > ul.show {
    opacity: 1;
    top: 20px;
    z-index: 1;
  }
  .horizontal_plus .flexnav li:hover > ul li,
  .horizontal_plus .flexnav li > ul.show li {
    overflow: visible;
    max-height: 20px;
  }
  .horizontal_plus .flexnav ul li:hover > a {
    background: #D1D1C6;
  }
  .horizontal_plus .flexnav li:hover > ul.plus-form li {
    max-height: 100%;
  }  
  .horizontal_plus .flexnav li ul li > ul {
    margin-left: 100%;
    top: -3em;
  }
  .horizontal_plus .flexnav li ul li:hover > ul,
  .horizontal_plus .flexnav li ul li > ul.show {
    top: 0;
  }
  .horizontal_plus .flexnav li ul li a {
    border-bottom: none;
  }
  .horizontal_plus .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    height: auto;
  }
  .horizontal_plus .flexnav li ul.open li {
    overflow: visible;
  }
  .horizontal_plus .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }
  .horizontal_plus .menu-button {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .horizontal_plus .flexnav li {
    line-height: 50px;
  }
  .horizontal_plus .flexnav .touch-button {
    width: 50px;
    height: 50px;
  }  
  .horizontal_plus .flexnav li:hover > ul,
  .horizontal_plus .flexnav li > ul.show {
    top: 50px;
  }
  .horizontal_plus .flexnav li:hover > ul li,
  .horizontal_plus .flexnav li > ul.show li {
    max-height: 50px;
  }  
}
.oldie body.one-page {
  padding-top: 70px;
}
.oldie .flexnav {
  overflow: visible;
}
.oldie .flexnav.one-page {
  top: 0;
  right: auto;
  max-width: 1080px;
}
.oldie .flexnav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
  min-height: 50px;
}
.oldie .flexnav li:hover > ul {
  visibility: visible;
  opacity: 1;
  height: auto;
  display: block;
  top: 3.1em;
  position: absolute;
}
.oldie .flexnav li:hover > ul li {
  width: 100%;
  float: none;
}
.oldie .flexnav li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
}
.oldie .flexnav li > ul {
  position: absolute;
  top: auto;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 1px;
  z-index: 1;
}
.oldie .flexnav li ul li ul {
  top: 0;
}
.oldie .flexnav li ul li a {
  border-bottom: none;
}
.oldie .flexnav li ul.open {
  display: block;
  opacity: 1;
  visibility: visible;
  height: auto;
}
.oldie .flexnav li ul.open ul.open {
  margin-left: 100%;
  top: 0;
}
.oldie .flexnav ul li:hover ul {
  margin-left: 100%;
  top: 0;
}
.oldie .menu-button {
  display: none;
}
.oldie.ie7 .flexnav li {
  width: 19.9%;
}

/* Form */
.horizontal_plus .flexnav form {
  margin: 5px;
  float: left;
}
.horizontal_plus .flexnav .form-checkboxes .form-item,
.horizontal_plus .flexnav .form-radios .form-item {
  margin: 0;
}
.horizontal_plus .flexnav .form-checkboxes,
.horizontal_plus .flexnav .form-radios {
  margin: 0;
}